/* Add Global styles here */
body{
    margin: 0px;
    background-color: rgb(207, 207, 230)
}

div{
    margin-bottom: 50px;
}


.homebutton {
    height: 20px;
    overflow-y: hidden;
}
.zg{
    margin: 70px;
    border-radius: 50px;
    width: 700px;
    height: 400px
}
.sn{
    margin: 70px;
    float: right;
    border-radius: 50px;
    width: 700px;
    height: 400px
}

.top {
    flex-direction: row;
    
}

.top img {
    width: 40%;
    height: 300px;
    object-fit: cover;
    margin: 0;
}
.bottom img {
    width: 40%;
    height: 300px;
    object-fit: cover;
    margin: 0;
}
.containertop {
    padding-left: 17%;
    width: 80%;
}
.containerbottom {
    padding-left: 17%;
    width: 80%;
}
.norwayimg{
    float: right;
    margin: 20px;
    border-radius: 15px
}
#webExp{
    font-weight: normal;
    font-size: 19px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#homeDiv{
    margin: 27px;
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    transition: top 0.4s;
    display: block;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(45, 45, 75);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    display: flex;
    text-align: center;
}
.navbar a:hover{
    background-color:rgb(82, 85, 131)
}
.navbar li{
    float: left;
    margin: 0px;
}
h4 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.NZlist {
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    width: 75%;

}
.NZh4{
    clear: left;
    margin-top: 120px;
}
.NZdiv{
    margin-left: 40px;
    clear: left;
    display: flex;
}
.NZimg2{
    width: 50vw;
    border-radius: 20px;
    border-width: 4px;
    border-color: rgb(28, 28, 90);
    border-style: solid;
    float: right;
    margin: 50px;
}

.NZimg1{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    border-width: 4px;
    border-color: rgb(28, 28, 90);
    border-style: solid;
    border-radius: 10px;
    width: 40%;
    height: 20%;
}

.NZtext{
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: right;

}

.fa {
  cursor: pointer;
  user-select: none;
  float: left;
  margin-left: 60px;
  margin-bottom: 15px;
}

.fa:hover {
  color: rgb(157, 103, 8);
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  width: 600px; /* or smaller if needed */
  flex-shrink: 0;
}
.img-comp-container img{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    border-width: 4px;
    border-color: rgb(28, 28, 90);
    border-style: solid;
    border-radius: 10px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

.NZwrapper{
    float: left;
    display: flex;
    align-items: flex-start;
    gap: 30px; /* cleaner than margin */
}